DATABASE_URL="postgresql://user:password@host/db?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@host/db?sslmode=require"
NEXTAUTH_SECRET="change-moi-avec-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
